<ion-view view-title="Doctors">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="PullRefresher()">
    </ion-refresher>

    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">

      <ion-item ng-repeat="row in doctors" class="item item-avatar"  href="#/app/doctors/{{row.userid}}">
        <img ng-src="app/assets/images/avatar.jpg">
        <h2>{{row.name}}</h2>
        <p>Username: <a class="calm">{{row.username}}</a></p>
        <p>Email: ({{row.user_email}})</p>
        <ion-option-button ng-if="myposition==1" class="button-assertive icon ion-trash-a" ng-click="deleteRecord(row.userid)"></ion-option-button>
      </ion-item>

      <!-- <ion-item ng-repeat="row in doctorsv" class="item item-avatar"  href="#/app/doctors/{{row.userid}}">
         <img ng-src="app/assets/images/avatar.jpg">
         <h2>{{row.name}}</h2>
         <p>Username: <a class="calm">{{row.username}}</a></p>
         <p>Email: ({{row.user_email}})</p>
         <p>
           <a class="button button-assertive button-small">Unavailable</a>
         </p>
         <ion-option-button ng-if="myposition==1" class="button-assertive icon ion-trash-a" ng-click="deleteRecord(row.userid)"></ion-option-button>
       </ion-item>-->

    </ion-list>

    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded" icon="ion-loading-c"
            on-infinite="HTSappLoader()"
            distance="1%">
    </ion-infinite-scroll>

  </ion-content>

  <ion-floating-button ng-if="myposition==1" ui-sref="app.UserAdd" has-footer="false" button-color="#13add9" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

</ion-view>
