<ion-view view-title="Success" hide-back-button="false">
    <ion-content class="padding">

        <div class="row responsive-sm padding remvoeBP">
            <div class="col">

                <div class="col padding">
                    <h4>Thank you for verifying: 2835562322</h4>
                    <p>
                        <b>HOSPITAL DETAILS:</b><br>
                        Crystal Specialist Hospital<br>
                        Egbeda Lagos.
                    </p>
                    <p>
                        <a class="button button-block button-assertive" ui-sref="app.accredit">START ASSESSMENT</a>
                    </p>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>